#window,
#chart {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 3em;
}

#window {
    border-spacing: 0;
    margin-top: 4em;
    border: 1em solid #888;
}

#window td.slot {
    background-color:transparent;
    color:transparent;
}

#window td.legend:nth-child(2n) {
    background-color: #aaa;
}
#window td.legend {
    background-color: #eee;
    padding-top: 1em;
    color:#000;
}

#window td,
#chart td {

    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}